extends ../layout

block content
  h2.display-data Book Detail
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Title
          td= display(book.title)
        tr
          td Author
          td= display(book.author)
        tr
          td Plot
          td= display(book.plot)
        tr
          td Year
          td= display(book.year)


  .form-actions
    a.btn.btn-warning(href="/books") Back
    | 
    a.btn.btn-primary(href="/books/" + book._id + "/edit") Edit
    | 
    a.btn.btn-danger(href="/books/" + book._id + "/delete") Delete